<div class="product-list-container">
  <div class="product-list-filter">
    <input type="text" name="search" id="search" placeholder="Search for Product..." [(ngModel)]="searchText" (keyup.enter)="search($event)">
    <span> << 1 >> </span>
  </div>

  <div class="products">
    <div class="product" *ngFor="let product of filteredProducts">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="filteredProducts.length === 0">
  <p> No details with above text searched... </p>
</div>