<div class="product-container">
  <div class="product-image">
    <img [src]="product.image">
  </div>
  <div class="product-detail">
    <span class="product-name"> {{ product.name }} </span>
    <span class="product-category"> {{ product.category }} </span>
  </div>
  <div class="product-footer">
    <span class="price"> {{ product.price | currency }} </span>
    <span class="add-to-cart" (click)="openProductDetails(product)">ADD TO CART</span>
  </div>
  <span class="ribbon">
    {{ product.color }}
  </span>
</div>